/* SERVICES */
.services-container {
    margin-top: -64px;
}

.services-header {
    grid-template: auto / 1fr 1fr;
    width: 95%;
}

.service-paragraph p {
    width: 75%;
    margin-inline: auto;
}

.services-list {
    grid-template: auto / repeat(3, 1fr);
    /* height: 700px; */
    width: 95%;
    margin-inline: auto;
}

.service-card {
    height: 470px;
    border: 1px solid #00000030;
    overflow: hidden;
}

.card-image::after,
.cta-container::after {
    content: '';
    background-color: #000;
    opacity: .4;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.card-header {
    top: 40%;
    width: 70%;
    left: 17.5%;
    transition: all 1s ease-in-out;
}

.card-content {
    background-color: #b7f2d2;
    height: 100%;
    opacity: 1;
    transform: translateY(-100%);
    transition: all 1s ease-in-out;
}

.service-card:hover .card-content {
    transform: translateY(0);
    opacity: 1;
    padding: 4rem;
    z-index: 11;
}

.service-card:hover .card-header {
    opacity: 0;
}

.start {
    border: 1px solid transparent;
}

button.start {
    background-color: #244b50;
    transition: all 150ms ease-in-out;
}

button.start:hover {
    background-color: transparent;
    border: 1px solid #506d60;
    color: inherit;
}


/* HOW IT WORKS */
.works-container {
    width: 95%;
}

.works-content {
    height: 550px;
}

.works-image {
    height: 85%;
    width: 45%;
}

.works-card.signup {
    grid-area: 1 / 1 / 2 / 3;
    background-color: #edf0f7;
}

.works-card.resources {
    grid-area: 1 / 3 / 2 / 7;
    background-color: #fbf1f0;
}

.works-card.practice {
    grid-area: 2 / 1 / 3 / 5;
    background-color: #edf7f9;
}

.works-card.success {
    grid-area: 2 / 5 / 3 / 7;
    background-color: #fdf0e7;
}







/* CTA CONTAINER */
.cta-container {
    background-image: url('../../assets/steps.jpg');
    height: 400px;
    font-size: 2rem;
    position: relative;
}

.cta-container::after {
    top: 0;
    z-index: -1;
}