.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    color: black;
}

.navbar-logo {
  font-size: 1.5em;
  margin-right: 20px; /* Adjust this value to control the space between the logo and the links */
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 10px; /* Reduce this gap to bring the links closer together */
}

.navbar-links li {
  margin: 0; /* Remove default margin */
}

.navbar-links li a {
  color: black;
  text-decoration: none;
  margin-left: 5px;
  padding: 8px 16px
}

.navbar-auth {
  display: flex;
  align-items: center;
}

.navbar-auth .login-button {
  background-color: transparent;
  color: black;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
}

.navbar-auth .sign-up-button {
  background-color: #555;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 20px; /* Space between button and text */
}
  