.hero-container {
    height: 600px;
    grid-template: auto / repeat(2, 1fr);
}

.hero-header {
    font-size: 3.5rem;
    line-height: 1;
}

.image-container {
    background-color: #5f9ea047;
}

.hero-text span {
    color: lime;
}

.data {
    height: 500px;
    position: relative;
    border: 2px solid red;
}

