.settings-header {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    /* border: 1px solid #0000002b; */
    background-color: #f1f4f9;
}

.tabs-list.rounded-lg {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.tabs-trigger {
    border-bottom: 1px solid #00000036;
    border-radius: 0px;
}

button.data-\[state\=active\]\:bg-background[data-state=active] {
    /* background-color: hsl(var(--background)); */
    border-bottom: 1px solid #000000;
    background-color: transparent;
    border-radius: 0;
}

button.data-\[state\=active\]\:shadow[data-state=active] {
    box-shadow: none;
}

.profile-picture,
.profile-details {
    grid-template: 1fr / .4fr .6fr;
}