.navbar-container .navbar > *,
.navbar-container .navbar-links li a,
.navbar-container .navbar-auth button.login-button {
    color: black;
}

.navbar-container .navbar button svg {
    color: black;
}

.walkthrough-video {
    height: 500px;
}

.teas-layout .sidenav-container {
    position: sticky;
    top: 0;
    left: 0;
    height: 100svh;
}