.navbar-container .navbar > *,
.navbar-container .navbar-links li a,
.navbar-container .navbar-auth button.login-button {
    color: black;
}

.walkthrough-video {
    height: 500px;
}

.layoutcontent-container,
.footer-container {
    top: 70px;
}