nav {
  height: 80px;
}

.navbar {
    padding: 10px 20px;
}

.nav-content svg,
.nav-content .user-name {
  color: #fff;
}

.navbar-logo {
  color: #fff;
}

.navbar-auth .login-button {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
}

.navbar-auth .sign-up-button {
  background-color: #000000c9;
  color: white;
  border: none;
  padding: 4px 16px;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 5px;
  font-size: 14px;
}

.navbar-link li a {
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
  
.navbar-link li a:hover {
  border: 2px solid #fff;
}

.navbar-link li a.active {
  border: 2px solid #fff;
}

/* DROPDOWNS */
li.dropdown .nursing-dropdown {
  /* display: block; */
    position: fixed;
    color: #000;
    left: 0;
    top: calc(20% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    width: 80%;
    margin-left: 10%;
    opacity: 0;
    visibility: hidden;
    background-color: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    display: flex;
  height: max-content;
  justify-content: space-evenly;
  pointer-events: none;
}

li.dropdown:hover .nursing-dropdown {
  visibility: visible;
  top: 58px;
  opacity: 1;
  padding: 1rem;
  pointer-events: auto;
}

ChevronDownIcon {
  font-size: 2rem;
}