.navbar {
    padding: 10px 20px;
    position: relative;
}

.navbar::after {
  content: '';
  background-color: #5f9ea047;
  left: 50%;
  width: 50%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.navbar-auth .login-button {
  background-color: transparent;
  /* color: black; */
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
}

.navbar-auth .sign-up-button {
  background-color: #555;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 20px; /* Space between button and text */
}

.navbar-link li a {
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
  
.navbar-link li a:hover {
  border: 2px solid #fff;
}

.navbar-link li a.active {
  border: 2px solid #fff;
}