/* FOOTER */
/* .footer-container {
    height: 400px;
} */

.footer-content {
    grid-template: 1fr / .4fr .6fr;
}

.footer-card {
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

.footer-card p {
    border-bottom: 1px solid #fff;
    width: -moz-fit-content;
    width: fit-content;
}

.footer-card ul li {
    color: #ffffffb3;
}

/* MEDIA QUERIES */
@media (min-width: 425px) {
    .footercard-container {
        grid-template: 1fr 1fr / 1fr 1fr;
    }
}

@media (min-width: 768px) {
    .footercard-container {
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-template-rows: repeat(1, minmax(0, 1fr));;
    }

    .footer-container {
        height: 470px;
    }

    .footer-card {
        align-items: flex-start;
        text-align: start;
    }
}