.dashboard-container .sidenav-container {
    background-color: #f1f4f9;
}

.navbar-container {
    width: 100%;
}

.navbar-container .navbar > *,
.navbar-container .navbar-links li a,
.navbar-container .navbar-auth .login-button,
.navbar-container .navbar button svg,
.navbar-container .nav-content .user-name {
    color: black;
}

.navbar-container .nav-content {
    padding: .5rem;
}


.navbar-container .navbar-link li a:hover,
.navbar-container .navbar-link li a.active {
    border: 2px solid #000;
}

.maincontent-container {
    width: 100%;
}

.dashboard-container .dashboard-nav .navbar-container nav ul li.home,
.dashboard-container .dashboard-nav .navbar-container nav ul li.about {
    display: none;
}