.navbar-container .navbar > *,
.navbar-container .navbar-links li a,
.navbar-container .navbar-auth .login-button {
    color: black;
}

.navbar-container .navbar button svg {
    color: black;
}

.navbar-container .navbar-link li a:hover,
.navbar-container .navbar-link li a.active {
    border: 2px solid #000;
}

.walkthrough-video {
    height: 500px;
}

.faq-content button {
    text-align: start;
}

div.welcome,
.mycourses-container,
.myevents-container,
.links-container,
.add_course-card,
.survey-container {
    background-color: #f1f4f9;
    border-radius: 20px;
}

.mycourses-container,
.myevents-container,
.links-container,
.add_course-card,
.survey-container {
    background-color: #fff;
}

.course-card {
    background-color: #fff;
    border-radius: 20px;
}

.math-class {
    background-image: url("../../../public/live.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    position: relative;
    z-index: 2;
}

.math-class::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: .6;
    z-index: -1;
    border-radius: 20px;
}

.tabs-trigger {
    border-bottom: 1px solid #00000036;
    border-radius: 0px;
}

button.data-\[state\=active\]\:bg-background[data-state=active] {
    /* background-color: hsl(var(--background)); */
    border-bottom: 1px solid #000000;
    background-color: transparent;
    border-radius: 0;
}

button.data-\[state\=active\]\:shadow[data-state=active] {
    box-shadow: none;
}