.navbar-container .navbar > *,
.navbar-container .navbar-links li a {
    color: black;
}

.navbar-container .navbar-link li a:hover,
.navbar-container .navbar-link li a.active {
    border: 2px solid #000;
}

.walkthrough-video {
    height: 500px;
}