.about-hero {
    height: 400px;
    background-image: url(../../assets/about3.jpg);
    width: 95%;
}

.about-hero::after {
    content: '';
    border-radius: 24px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: .6;
    z-index: 1;
}

/* mission container */
.mission-container {
    height: 350px;
}

.mission-header {
    background-color: #8577e6;
}

.mission-image {
    background-image: url(../../assets/mission.jpg);
}

.circle-dot {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: #fff;
}

/* TEAM */
.team-card {
    box-shadow: 2px 2px #ccc;
    background: #f7f7f7;
}

/* testimonials */
.abouttestimonial-container {
    height: 600px;
}

.carousel-container {
    border: 1px solid #00000038;
}

.abouttestimonial-container .testimonial-card {
    height: 450px;
}

.abouttestimonial-header {
    background-color: #011d42;
    border-bottom-right-radius: 50px;
}

.abouttestimonial-image {
    height: 100px;
    width: 80px;
}

.abouttestimonial-image img {
    border-radius: 50%;
}

/* CTA */
.aboutcta-container {
    height: 300px;
    background-color: #d7d7d7;
    background: -webkit-linear-gradient(0deg, #d7d7d7 0%, #e9e9e9 100%);
    background: linear-gradient(0deg, #d7d7d7 0%, #e9e9e9 100%);
}